/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/* added by Fernando Braz */
.nav-pills a{
  color: #444;
}

/* end code added by Fernando Braz*/

.navbar {
  position: relative;
  margin-bottom: 70px;
}
.navbar-brand {
  position: absolute;
  left: 50%;
  margin-left: -77px !important;
  /* 50% of your logo width */
  display: block;
}
.featured-image {
  position: relative;
  background-size: cover;
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.featured-image.home {
  margin-bottom: 42px;
  margin-top: -70px;
}
.featured-image.detail {
  margin-top: -70px;
}
.featured-image h1 {
  margin-top: 0px;
  font-size: 24px;
  color: #fff;
  z-index: 16;
  position: relative;
}
.gradient-overlay {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4) 1%, rgba(0, 0, 0, 0.7) 100%);
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.4) 1%, rgba(0, 0, 0, 0.7) 100%);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.4) 1%, rgba(0, 0, 0, 0.7) 100%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4) 1%, rgba(0, 0, 0, 0.7) 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
header {
  padding-top: 70px;
  padding-bottom: 70px;
}
.detail-panel {
  background: #fff;
  padding-bottom: 25px;
}
.detail-panel .img-circle {
  margin-top: -62px;
  position: relative;
  z-index: 3;
  border: 2px solid #fff;
}
.detail-panel .progress {
  margin-top: 30px;
  height: 8px;
}
.detail-panel .btn-block {
  margin-top: 30px;
}
.detail-panel .stats {
  font-size: 16px;
}
.detail-panel .user h5 {
  padding-top: 18px;
}
.detail-panel .user p {
  padding-top: 10px;
  width: 95%;
}
.tabs-strip {
  border-top: 1px solid rgba(200, 211, 213, 0.4);
  border-bottom: 1px solid rgba(200, 211, 213, 0.4);
}
.tabs-strip .nav-tabs {
  border-bottom: none;
}
.tabs-strip .nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border-top: 1px solid transparent;
}
.tabs-strip .nav-tabs > li > a {
  border-radius: 0;
  padding: 15px 30px;
}
.project-info {
  padding-top: 30px;
}
.project-info .panel {
  border: none;
  box-shadow: none;
  background: #C8D3D5;
}
.project-info .reward-text {
  padding: 20px 0;
}
.container.signup-login {
  width: 360px;
}
.btn-facebook {
  background: #3B5998;
  color: #fff;
}
.project-info .media:first-child {
  margin-top: 0;
}
.project-info .media {
  margin-top: 30px;
}
.project-info h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.detail-panel .fa {
  color: #9B9B9B;
  margin: 0 5px;
}
.navbar-form .form-group.search {
  position: relative;
}
.navbar-form .form-control {
  border-radius: 25px;
  border: none;
  box-shadow: none;
  background: transparent;
}
.navbar-form .form-control:focus {
  box-shadow: inset 0 1px 1px #1ac462, 0 1px 1px #1ac462;
}
.navbar-form .form-control:focus + .fa {
  display: none;
}
.navbar-form .form-control + .fa {
  position: absolute;
  left: 12px;
  top: 10px;
  color: #777;
  z-index: -1;
}
.thumbnail h3 {
  margin-top: 10px;
  color: #4F4F4F;
}
.thumbnail em {
  color: #6E8387;
}
em {
  font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
  font-style: italic;
  font-weight: normal;
}
.thumbnail h5 {
  color: #6E8387;
}
.thumbnail p {
  color: #6E8387;
  margin-bottom: 30px;
  font-size: 13px;
}
.progress {
  height: 6px;
}
.progress-bar {
  box-shadow: none;
}
.stats {
  font-size: 12px;
}
.thumbnail > img,
.thumbnail a > img {
  border-radius: 4px 4px 0 0;
  width: 100%;
}
.navbar-default .navbar-toggle {
  border: none;
}
#backers .list-group-item {
  border: none;
  background: transparent;
  margin-bottom: 10px;
}
.backer {
  margin-left: 10px;
  font-weight: bold;
  font-size: 18px;
}
.backed-reward {
  margin-top: 13px;
  font-weight: bold;
  font-size: 16px;
}
.cta-bar {
  background: #C8D3D5;
  margin-top: 100px;
  padding: 15px;
}
footer {
  background: #6E8387;
  padding: 30px;
  color: #C8D3D5;
}
footer a {
  color: #C8D3D5;
}
footer a:hover,
footer a:focus {
  color: #eef4f5;
}
footer h3 {
  margin-top: 1px;
}
footer .btn-default {
  color: #C8D3D5;
  background-color: transparent;
  border-color: #ccc;
}
.onboard .panel {
  padding: 20px 0;
}
.form-horizontal .form-group input[type="file"] {
  padding-top: 7px;
}
.add-reward {
  margin-top: 30px;
  margin-bottom: 30px;
}
.filter-home {
  margin-bottom: 50px;
}
.filter.filter-home .nav > li > a {
  padding: 4px 10px;
}
.filter .nav > li > a {
  padding: 7px 10px;
}
.featured-row {
  margin-bottom: 50px;
}
.featured-project h3 {
  margin-top: 10px;
}
.featured-project {
  margin-bottom: 70px;
  margin-top: 20px;
}
/*
Timeline
 */
.timeline dl {
  position: relative;
  top: 0;
  padding: 20px 0;
  margin: 0;
}
.timeline dl:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  z-index: 100;
  width: 2px;
  margin-left: -1px;
  content: '';
  background-color: #ccd1d9;
}
.timeline dl dt {
  position: relative;
  top: 30px;
  z-index: 200;
  width: 120px;
  padding: 3px 5px;
  margin: 0 auto 30px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  background-color: #aab2bd;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.timeline dl dd {
  position: relative;
  z-index: 200;
}
.timeline dl dd .circ {
  position: absolute;
  top: 40px;
  left: 50%;
  z-index: 200;
  width: 14px;
  height: 14px;
  margin-left: -7px;
  background-color: #1DDB6D;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.timeline dl dd .time {
  position: absolute;
  top: 31px;
  left: 50%;
  display: inline-block;
  width: 160px;
  padding: 10px 20px;
  color: #1DDB6D;
}
.timeline dl dd .events {
  position: relative;
  width: 47%;
  padding: 10px 10px 0;
  margin-top: 31px;
  background-color: #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border: 1px solid #eee;
}
.timeline dl dd .events:before {
  position: absolute;
  top: 12px;
  width: 0;
  height: 0;
  content: '';
  border-style: solid;
  border-width: 6px;
}
.timeline dl dd .events .events-object {
  margin-right: 10px;
}
.timeline dl dd .events .events-body {
  overflow: hidden;
  zoom: 1;
}
.timeline dl dd .events .events-body .events-heading {
  margin: 0 0 10px;
  font-size: 14px;
}
.timeline dl dd.pos-right .time {
  margin-left: -160px;
  text-align: right;
}
.timeline dl dd.pos-right .events {
  float: right;
}
.timeline dl dd.pos-right .events:before {
  left: -12px;
  border-color: transparent #eee transparent transparent;
}
.timeline dl dd.pos-left .time {
  margin-left: 0;
  text-align: left;
}
.timeline dl dd.pos-left .events {
  float: left;
}
.timeline dl dd.pos-left .events:before {
  right: -12px;
  border-color: transparent transparent transparent #eee;
}
@media screen and (max-width: 767px) {
  .timeline dl:before {
    left: 60px;
  }
  .timeline dl dt {
    margin: 0 0 30px;
  }
  .timeline dl dd .circ {
    left: 60px;
  }
  .timeline dl dd .time {
    left: 0;
  }
  .timeline dl dd.pos-left .time {
    padding: 10px 0;
    margin-left: 0;
    text-align: left;
  }
  .timeline dl dd.pos-left .events {
    float: right;
    width: 84%;
  }
  .timeline dl dd.pos-left .events:before {
    left: -12px;
    border-color: transparent #fff transparent transparent;
  }
  .timeline dl dd.pos-right .time {
    padding: 10px 0;
    margin-left: 0;
    text-align: left;
  }
  .timeline dl dd.pos-right .events {
    float: right;
    width: 84%;
  }
}
#open-popup {
  z-index: 10;
  position: relative;
  cursor: pointer;
  display: inline-block;
}
.white-popup {
  position: relative;
  background: #FFF;
  padding: 40px;
  width: auto;
  max-width: 200px;
  margin: 20px auto;
  text-align: center;
}
.fa-play-circle {
  color: #fff;
  margin: 20px 0 30px 0;
}
.panel-body {
  position: relative;
  cursor: pointer;
}

.panel-reward {
  position:relative;
}

.panel-reward:hover:after {
  background: rgba(29, 219, 109, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  content: "Select this reward";
  height: 100%;
  width: 100%;
  display: inherit;
  text-align: center;
  padding-top: 38%;
  border-radius: 3px;
  cursor: pointer;
  transition: all .2s ease;
  color: #fff;
}

.link-spanner{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
  /* edit: fixes overlap error in IE7/8,
     make sure you have an empty gif
  background-image: url('empty.gif');*/
}

.donate-card {
  background: #fff;
}