/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

//
// Load core variables and mixins
// --------------------------------------------------

@import "variables.less";
@import "mixins.less";


.navbar {
  position: relative;
  margin-bottom: 70px;
}

.navbar-brand {
  position: absolute;
  left: 50%;
  margin-left: -77px !important;  /* 50% of your logo width */
  display: block;
}

.featured-image {
  position: relative;
}

.featured-image.home {
  margin-bottom: 42px;
  margin-top: -70px;
}

.featured-image.detail {
  margin-top: -70px;
}

.featured-image h1 {
  margin-top: 0px;
  font-size: 24px;
  color: #fff;
  z-index: 16;
  position: relative;
}

.gradient-overlay {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4) 1%, rgba(0, 0, 0, 0.7) 100%);
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.4) 1%, rgba(0, 0, 0, 0.7) 100%);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.4) 1%, rgba(0, 0, 0, 0.7) 100%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4) 1%, rgba(0, 0, 0, 0.7) 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

header {
  padding-top: 100px;
  padding-bottom: 100px;
}

.detail-panel {
  background: #fff;
  padding-bottom: 25px;
}

.detail-panel .img-circle {
  margin-top: -62px;
  position: relative;
  z-index: 3;
  border: 2px solid #fff;
}

.detail-panel .progress {
  margin-top: 30px;
  height: 8px;
}

.detail-panel .btn-block {
  margin-top: 30px;
}

.detail-panel .stats {
  font-size: 16px;
}

.detail-panel .user h5 {
  padding-top: 18px;
}

.detail-panel .user p {
  padding-top: 10px;
  width: 95%;
}

.tabs-strip {
  border-top: 1px solid rgba(200,211,213,.4);
  border-bottom: 1px solid rgba(200,211,213,.4);
}

.tabs-strip .nav-tabs {
  border-bottom: none;
}

.tabs-strip .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border-top: 1px solid transparent;
}

.tabs-strip .nav-tabs > li > a {
  border-radius: 0;
  padding: 15px 30px;
}

.project-info {
  padding-top: 30px;
}

.project-info .panel {
  border: none;
  box-shadow: none;
  background: #C8D3D5;
}

.project-info .reward-text {
  padding: 20px 0;
}

.container.signup-login {
  width: 360px;
}

.btn-facebook {
  background: #3B5998;
  color: #fff;
}

.project-info .media:first-child {
  margin-top: 0;
}

.project-info .media {
  margin-top: 30px;
}

.project-info h2 {
  font-family: @font-family-serif;
}

.detail-panel .fa {
  color: #9B9B9B;
  margin: 0 5px;
}

.navbar-form .form-group.search {
  position: relative;
}

.navbar-form .form-control {
  border-radius: 25px;
  border: none;
  box-shadow: none;
  background: transparent;
}

.navbar-form .form-control:focus {
  box-shadow: inset 0 1px 1px #1ac462, 0 1px 1px #1ac462;
}

.navbar-form .form-control:focus + .fa {
  display: none;
}

.navbar-form .form-control + .fa {
  position: absolute;
  left: 12px;
  top: 10px;
  color: #777;
  z-index: -1;
}

.thumbnail h3 {
  margin-top: 10px;
  color: #4F4F4F;
}

.thumbnail em {
  color: #6E8387;
}

em {
  font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
  font-style: italic;
  font-weight: normal;
}

.thumbnail h5 {
  color: #6E8387;
}

.thumbnail p {
  color: #6E8387;
  margin-bottom: 30px;
  font-size: 13px;
}

.progress {
  height: 6px;
}

.progress-bar {
  box-shadow: none;
}

.stats {
  font-size: 12px;
}

.thumbnail > img, .thumbnail a > img {
  border-radius: 4px 4px 0 0;
  width: 100%;
}

.navbar-default .navbar-toggle {
  border: none;
}

#backers .list-group-item {
  border: none;
  background: transparent;
  margin-bottom: 10px;
}

.backer {
  margin-left: 5px;
  font-weight: bold;
  font-size: 18px;
}

.backed-reward {
  margin-top: 13px;
  font-weight: bold;
  font-size: 16px;
}

.cta-bar {
  background: #C8D3D5;
  margin-top: 100px;
  padding: 15px;
}

footer {
  background: #6E8387;
  padding: 30px;
  color: #C8D3D5;
}

footer a {
  color: #C8D3D5;
}

footer a:hover, footer a:focus {
  color: #eef4f5;
}

footer h3 {
  margin-top: 1px;
}

footer .btn-default {
  color: #C8D3D5;
  background-color: transparent;
  border-color: #ccc
}

.onboard .panel {
  padding: 70px 0;
}

.form-horizontal .form-group input[type="file"] {
  padding-top: 7px;
}

.add-reward {
  margin-top: 30px;
  margin-bottom: 30px;
}
