.nav-pills {
  &.nav-wizard {
    > li {
      position: relative;
      overflow: visible;
      border-right: 15px solid transparent;
      border-left: 15px solid transparent;

      + li {
        margin-left: 0;
      }

      &:first-child {
        border-left: 0;

        a {
          border-radius:3px 0 0 0;
          color: #4F4F4F;
        }
      }

      &:last-child {
        border-right: 0;

        a {
          border-radius:0 3px 0 0;
          color: #4F4F4F;
        }
      }

      a {
        border-radius: 0;
        background-color: #eee;
        text-align: center;
        padding: 20px 0;
        color: #4F4F4F;
      }

      .nav-arrow {
        position: absolute;
        top: 0px;
        right: -30px;
        width: 31px;
        height: 0px;
        border-style: solid;
        border-width: 30px 0 30px 20px;
        border-color: transparent transparent transparent #eee;
        z-index: 150;
        background: #C8D3D5;
      }

      .nav-wedge {
        position: absolute;
        top: 0px;
        left: -30px;
        width: 30px;
        height: 0px;
        border-style: solid;
        border-width: 30px 0 30px 20px;
        border-color: #eee #eee #eee transparent;
        z-index: 150;
      }

      &:hover {
          .nav-arrow {
            border-color: transparent transparent transparent #aaa;
          }

          .nav-wedge {
            border-color: #aaa #aaa #aaa transparent;
          }

          a {
            background-color: #aaa;
            color: #fff;
          }
      }

      &.active {
        .nav-arrow {
          border-color: transparent transparent transparent #1DDB6D;
        }

        .nav-wedge {
          border-color: #1DDB6D #1DDB6D #1DDB6D transparent;
        }

        a {
          background-color: #1DDB6D;
          color: #fff;
        }
      }
    }
  }
}

.nav-wizard {
  border-bottom: 1px solid #C8D3D5;
}

.wizard-container {
  z-index: 3;
}

.wizard-card {
  min-height: 410px;
  background-color: #FFFFFF;
  border-radius: 3px;
  padding: 0 0 10px 0;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  border: 1px solid #C8D3D5;
}

.wizard-card .tab-content {
  min-height: 340px;
  padding: 50px 30px 10px 30px;
}

.wizard-card .wizard-footer {
  padding: 0 10px;
}
